<!DOCTYPE html>
<html>
<head>
    <title>StompZone-MP4</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="description" content="/mp4 {{version}}">
    <meta property="og:url" content="https://{{site_domain}}/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="StompZone-MP4">
    <meta property="og:description" content="/mp4">
    <meta property="og:image" content="https://i.imgur.com/ClNOeov.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{site_domain}}">
    <meta property="twitter:url" content="https://{{site_domain}}/">
    <meta name="twitter:title" content="StompZone-MP4">
    <meta name="twitter:description" content="/mp4 {{version}}">
    <meta name="twitter:image" content="https://i.imgur.com/ClNOeov.png">
  
    <script src="/static/script.js"></script>
</head>
<body>
    <div class="container">
        <h1>StompZone-MP4</h1>
        <h3><code>/mp4 {{version}}</code></h3>
        <form onsubmit="onSubmit(event)">
            <input type="text" id="url" placeholder="Enter YouTube URL or video ID" required>
            <button type="submit">Download</button>
        </form>
    </div>
</body>
</html>
